<div id="shows-section" class="row shows">
  <div class="col-md-6 col-md-offset-1">
    <div class="panel panel-default">
      <div class="panel-heading">
        <a href="https://www.facebook.com/events/961721757251828/"><h3>DTCV / Vamplifier (EP Release Show!) / Mason Cos</h3></a>
      </div>
      <div class="panel-body">
        <section class="col-sm-3">
          <a target="_blank" href="http://www.quenchers.com/"><p>Quencher's</p></a>
        </section>
        <section class="col-sm-3">
          <p>
            April 8, 2016
          </p>
        </section>
        <section class="col-sm-3">
          <a href="http://www.ticketweb.com/t3/sale/SaleEventDetail?eventId=6521055&pl=mp&dispatch=loadSelectionData">Tickets</a>
        </section>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-md-offset-1 show_poster">

    <img id="poster" class="thumbnail" src="http://i.imgur.com/B3nAM6x.jpg?1" alt="show poster" />

    <div id="poster_modal" class="modal fade" tabindex="-1" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <span>04/08/2016</span>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
          <div class="modal-body">
            <img id="large_poster" src="http://i.imgur.com/B3nAM6x.jpg?1" alt="large show poster" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
